body {
  background-color:black;
  font-family: Signika Negative, Asap, sans-serif;
}

.boundary {
  margin: 0px;
  position: absolute;
  top: 40px;
  left: 40px;
  display: block;
  z-index: 1;
}

#spawns {
  overflow:visible; 
  padding:0; 
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 25;
}

#map {
  overflow:visible; 
  padding:0; 
  position: relative;
  top: 0px;
  left: 0px;
}

.hex:before {
  content: " ";
  width: 0; 
  height: 0;
  border-bottom: 50px solid #272727;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  position: absolute;
  top: -50px;
  left: 0;
}

.hex {
  margin-top: 0px;
  width: 200px;
  background-color: #272727;
  position: absolute;
  text-align: center;
  vertical-align:middle;
  color: white;
  white-space: normal;
  overflow: visible;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  opacity: .7;
}

.hex:after {
  content: "";
  width: 0; 
  position: absolute;
  bottom: -50px;
  left: 0px;
  border-top: 50px solid #272727;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.hex.pasture {  background-color: #92b559;}
.hex.pasture:before {  border-bottom: 50px solid #92b559;}
.hex.pasture:after {  border-top: 50px solid #92b559;}

.hex.wood {  background-color: #037a46;}
.hex.wood:before {  border-bottom: 50px solid #037a46;}
.hex.wood:after {  border-top: 50px solid #037a46;}

.hex.tar {  background-color: #281a0e;}
.hex.tar:before {  border-bottom: 50px solid #281a0e;}
.hex.tar:after {  border-top: 50px solid #281a0e;}

.hex.stone {  background-color: #606060;}
.hex.stone:before {  border-bottom: 50px solid #606060;}
.hex.stone:after {  border-top: 50px solid #606060;}

.hex.iron {  background-color: #b78d7e;}
.hex.iron:before {  border-bottom: 50px solid #b78d7e;}
.hex.iron:after {  border-top: 50px solid #b78d7e;}

.hex.hemp {  background-color: #cabd4b;}
.hex.hemp:before {  border-bottom: 50px solid #cabd4b;}
.hex.hemp:after {  border-top: 50px solid #cabd4b;}

.unit {
  position: absolute;
}

#controls {
 display: block;
 background-color: (rgba(255,255,255,.6));
 border-radius: 10px;
 border: 3px solid #FFFFFF;
 position: fixed;
 top: 10px;
 right: 10px;
 vertical-align:middle;
 cursor: pointer;
 font-size: 35px;
}
#controls a {
  font-size: 35px;
  color: #FFFFFF;
}

#legend {
 display: block;
 background-color: (rgba(255,255,255,.6));
 border-radius: 10px;
 border: 3px solid #FFFFFF;
 position: absolute;
 left: 10px;
 top: 10px;
 z-index: 100;
}
#legend a {
  font-size: 35px;
}
#legend a span {
 font-size: 20px;
 color: #FFFFFF;
}
#legend a.wood { color: #037a46; }
#legend a.tar { color: #281a0e; }
#legend a.stone { color: #606060; }
#legend a.pasture { color: #92b559; }
#legend a.iron { color: #b78d7e; }
#legend a.hemp { color: #cabd4b; }
